{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    {% for reservation in reservations %}
    <div class="ps-shoe--sidebar">

        <div class="ps-shoe__content"><a class="ps-shoe__title" href="#">{{ reservation.idE.nom }}</a>
            {% if reservation.idE.dateDeb %}{{ reservation.idE.dateDeb|date('Y-m-d') }}{% endif %}</p>
           <img src="{{ asset('images/' ~ reservation.idU.username ~ reservation.idE.nom ~ '.png') }}">
            <br>
            <br>
            <p> <a class="ps-btn" href="{{ path('res_delete', { 'id': reservation.id }) }}">ANNULER</a></p></div>
        <br>
    </div>
    {% endfor %}
    <aside class="ps-widget--sidebar">
        <div class="ps-widget__header">
            <h3>Recent Club</h3>
        </div>


        <div class="ps-widget__content">
            {% for membre in membres %}
                <div class="ps-post--sidebar">
                    <div class="ps-post__content"><a class="ps-post__title" href="#">{{ membre.club.nomclub }}</a><span>{{ membre.club.emplacement }}</span></div>
                    <br>
                    <div class="ps-post__content"> <div class="ps-shoe--sidebar"><p> <a class="ps-btn" href="{{ path('mem_delete', { 'id': membre.id }) }}">ANNULER</a></p></div></div>
                </div>
            {% endfor %}
        </div>
    </aside>
</div>
