{% extends 'baseAdmin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block titre %} Ajouter une categorie {% endblock %}
{% block content %}

    <div class="card-body card-block">

        {{ form_start(form,{ 'attr': {'novalidate': 'nonvalidate'} }) }}
        <div class="row form-group">
            <div class="col col-md-3"><label class=" form-control-label">Titre </label></div>
            <div class="col-12 col-md-9">{{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}<small class="form-text text-muted"></small></div>
            <div class="col-12 col-md-9">
                <div style="color: red">{{ form_errors(form.title) }}</div>
            </div>

        </div>


        <div class="row form-group">

            <div class="col col-md-3"><label class=" form-control-label">Déscription </label></div>
            <div class="col-12 col-md-9">{{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}<small class="form-text text-muted"></small></div>
            <div class="col-12 col-md-9">
                <div style="color: red"> {{ form_errors(form.description) }}</div>
            </div>

        </div>
        <div class="card-footer">
            <button type="submit" value="Create" class="btn btn-primary btn-sm" >
                <i class="fa fa-dot-circle-o"></i> Ajouter
            </button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

