{% extends 'baseAdmin.html.twig' %}
{% block content %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title" style="font-size: 20px;"> Article numéro {{ article.id }} </strong>
                        </div>
                        <div class="card-body">
                            <div class="vue-lists">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul style="font-size: 16px;">
                                            <li>
                                                <strong> Titre de l'article : </strong> {{ article.title }}
                                            </li>
                                            <li>  <strong> Catégorie de l'article : </strong> {{ article.category.title }}</li>
                                            <li>  <strong> Description de l'article : </strong> {{ article.content }}</li>
                                            <li>  <strong> Date de création de l'articlet : </strong> {% if article.date %}{{ article.date|date('Y-m-d') }}{% endif %}</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>

                            <table>
                                <tr>
                                    <td>          <a href="{{ path('article_edit', { 'id': article.id }) }}" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                                    </td>
                                    <td>

                                        {{ form_start(delete_form) }}
                                        <input type="submit" value="Supprimer" class="btn btn-danger btn-xs">
                                        {{ form_end(delete_form) }}</td>
                                </tr>
                            </table>
                        </div></div></div></div></div>
        <a href="{{ path('article_indexb') }}" class="btn btn-outline-secondary">Liste des articles</a>
    </div>



{% endblock %}

